
<div class="jumbotron">
  <h1>Welcome to Data Trends</h1>
  <p>We have live time data trends for politics, demographics, etc!</p>
  <p><a href="#" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<div id="bottom">
	<div id="manage_users">
		<h2>Find Analytics</h2>
		<p>Descriptive and analytical explanations.</p>
	</div>
	<div id="edit">
		<h2>Find Graphs</h2>
		<p>Detailed and labeled graphs.</p>
	</div>
	<div id="messages">
		<h2>Ask Questions</h2>
		<p>Ask any questions you may have.</p>
	</div>
</div>
