<script src="http://code.jquery.com/jquery.js"></script>
<link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
	.jumbotron{
		margin:55px;
		border:4px solid black;
		padding:50px;
	    background: url("/images/newyork.jpg");
	    color:#E0E0E0;
	    background-size: 800px 360px;
	}
	h1{
	    color: black;
	    text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;  
	}
	#manage_users,#messages, #edit{
		width:330px;
		height:150px;
		display:inline-block;
		margin-left:25px;
		vertical-align: top;

	}
	#bottom{
		margin-left:75px;
	}
	button{
		width:90px;
		margin-top:15px;
	}
</style>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Data Trends</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
     	<li><a href="#">Home</a></li>
      	<li><a href="#/login">Sign in</a></li>
      	<li><a href="#">Seattle 911 Fire Calls</a>
    </ul>
  </div>
</div>
</nav>
<div class="jumbotron">
  <h1>Welcome to Data Trends</h1>
  <p>We have live time data trends for politics, demographics, etc!</p>
  <p><a href="#" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<div id="bottom">
	<div id="manage_users">
		<h2>Find Analytics</h2>
		<p>Descriptive and analytical explanations.</p>
	</div>
	<div id="edit">
		<h2>Find Graphs</h2>
		<p>Detailed and labeled graphs.</p>
	</div>
	<div id="messages">
		<h2>Ask Questions</h2>
		<p>Ask any questions you may have.</p>
	</div>
</div>
