<div class="container">
<div class="jumbotron">
  <h1>Welcome</h1>
  <p>We have time data trends for Seattle 911 calls, Crimes!</p>
  <p><a href="#" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<div id="bottom">
	<div id="manage_users">
		<h2>Find Analytics</h2>
		<p>Descriptive and analytical explanations.</p>
	</div>
	<div id="edit">
		<h2>Find Graphs</h2>
		<p>Detailed and labeled graphs.</p>
	</div>

</div>
</div>