<div class="container text-center">
	<h1>Seattle Fire Real-Time 911 Calls</h1>
 <div id="map" style="height: 800px;"></div>

 <div class="container">
 	<ul class="my-new-list"></ul>
 </div>

<script>
  var data1 = [];
$.getJSON( "https://data.seattle.gov/resource/kzjm-xkqj.json", function( data ) {
  var items = [];
  $.each( data, function( key, val ) {
  	var lat = val['latitude'];
  	var lon = val['longitude'];
  	data1.push("new google.maps.LatLng("+lat+", "+lon+"),<br>");
    // console.log( key +" "+ "new google.maps.LatLng("+lat+", "+lon+")]");

  });

 
});




var map, heatmap;


function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: {lat: 47.6000015, lng: -122.2742706},
    styles:[{ stylers: [{"invert_lightness": true}]}],
    mapTypeId: google.maps.MapTypeId.SATELLITE
  });

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(),
    // data: data1,
    map: map
  });
}

function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 20);
}

function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}

// Heatmap data:
function getPoints() {
  return [
new google.maps.LatLng(47.701756, -122.335022),
new google.maps.LatLng(47.550431, -122.397816),
new google.maps.LatLng(47.716784, -122.344888),
new google.maps.LatLng(47.623153, -122.296667),
new google.maps.LatLng(47.583347, -122.334199),
new google.maps.LatLng(47.617173, -122.333103),
new google.maps.LatLng(47.567998, -122.30014),
new google.maps.LatLng(47.610116, -122.301455),
new google.maps.LatLng(47.708005, -122.349784),
new google.maps.LatLng(47.675775, -122.302579),
new google.maps.LatLng(47.725503, -122.355552),
new google.maps.LatLng(47.582838, -122.386485),
new google.maps.LatLng(47.712441, -122.326055),
new google.maps.LatLng(47.614118, -122.296035),
new google.maps.LatLng(47.635548, -122.302212),
new google.maps.LatLng(47.650513, -122.340239),
new google.maps.LatLng(47.690657, -122.378957),
new google.maps.LatLng(47.641855, -122.355558),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.616443, -122.310151),
new google.maps.LatLng(47.730148, -122.296165),
new google.maps.LatLng(47.677823, -122.357432),
new google.maps.LatLng(47.575911, -122.285251),
new google.maps.LatLng(47.579598, -122.300279),
new google.maps.LatLng(47.580983, -122.389247),
new google.maps.LatLng(47.656118, -122.319795),
new google.maps.LatLng(47.534148, -122.332133),
new google.maps.LatLng(47.719638, -122.355539),
new google.maps.LatLng(47.623683, -122.361941),
new google.maps.LatLng(47.610972, -122.340465),
new google.maps.LatLng(47.72686, -122.345017),
new google.maps.LatLng(47.726864, -122.348012),
new google.maps.LatLng(47.603333, -122.330278),
new google.maps.LatLng(47.676093, -122.361498),
new google.maps.LatLng(47.543277, -122.279762),
new google.maps.LatLng(47.733775, -122.295148),
new google.maps.LatLng(47.686916, -122.335484),
new google.maps.LatLng(47.717654, -122.292773),
new google.maps.LatLng(47.543663, -122.361199),
new google.maps.LatLng(47.557498, -122.386883),
new google.maps.LatLng(47.554937, -122.282393),
new google.maps.LatLng(47.63717, -122.356941),
new google.maps.LatLng(47.633463, -122.277157),
new google.maps.LatLng(47.71379, -122.287246),
new google.maps.LatLng(47.52101, -122.269997),
new google.maps.LatLng(47.544669, -122.373777),
new google.maps.LatLng(47.723223, -122.351366),
new google.maps.LatLng(47.572163, -122.296173),
new google.maps.LatLng(47.610155, -122.333545),
new google.maps.LatLng(47.703157, -122.325371),
new google.maps.LatLng(47.562767, -122.281699),
new google.maps.LatLng(47.615453, -122.312765),
new google.maps.LatLng(47.726864, -122.348004),
new google.maps.LatLng(47.600194, -122.330541),
new google.maps.LatLng(47.544562, -122.389038),
new google.maps.LatLng(47.726638, -122.296407),
new google.maps.LatLng(47.620184, -122.328213),
new google.maps.LatLng(47.571328, -122.339668),
new google.maps.LatLng(47.616451, -122.314031),
new google.maps.LatLng(47.642676, -122.412202),
new google.maps.LatLng(47.664893, -122.311937),
new google.maps.LatLng(47.640239, -122.32346),
new google.maps.LatLng(47.602985, -122.328535),
new google.maps.LatLng(47.545436, -122.387209),
new google.maps.LatLng(47.637301, -122.279625),
new google.maps.LatLng(47.620859, -122.31269),
new google.maps.LatLng(47.534502, -122.27916),
new google.maps.LatLng(47.567936, -122.287192),
new google.maps.LatLng(47.58006, -122.408009),
new google.maps.LatLng(47.596676, -122.32637),
new google.maps.LatLng(47.617316, -122.347229),
new google.maps.LatLng(47.704379, -122.358359),
new google.maps.LatLng(47.599199, -122.33005),
new google.maps.LatLng(47.61762, -122.310139),
new google.maps.LatLng(47.536229, -122.333553),
new google.maps.LatLng(47.694888, -122.312135),
new google.maps.LatLng(47.664024, -122.302569),
new google.maps.LatLng(47.683142, -122.319917),
new google.maps.LatLng(47.568162, -122.372444),
new google.maps.LatLng(47.602452, -122.337241),
new google.maps.LatLng(47.562011, -122.294242),
new google.maps.LatLng(47.613011, -122.326948),
new google.maps.LatLng(47.628379, -122.356681),
new google.maps.LatLng(47.60975, -122.337793),
new google.maps.LatLng(47.617097, -122.326803),
new google.maps.LatLng(47.674172, -122.288032),
new google.maps.LatLng(47.621076, -122.320892),
new google.maps.LatLng(47.616138, -122.345235),
new google.maps.LatLng(47.6042, -122.32351),
new google.maps.LatLng(47.608821, -122.340013),
new google.maps.LatLng(47.662206, -122.376914),
new google.maps.LatLng(47.612578, -122.341197),
new google.maps.LatLng(47.666467, -122.38475),
new google.maps.LatLng(47.719601, -122.355539),
new google.maps.LatLng(47.647771, -122.354473),
new google.maps.LatLng(47.66722, -122.336111),
new google.maps.LatLng(47.574966, -122.295568),
new google.maps.LatLng(47.622108, -122.356729),
new google.maps.LatLng(47.600194, -122.330541),
new google.maps.LatLng(47.701329, -122.323684),
new google.maps.LatLng(47.562011, -122.294242),
new google.maps.LatLng(47.555483, -122.286147),
new google.maps.LatLng(47.585011, -122.290871),
new google.maps.LatLng(47.600194, -122.330541),
new google.maps.LatLng(47.672349, -122.366499),
new google.maps.LatLng(47.57476, -122.292442),
new google.maps.LatLng(47.612626, -122.341277),
new google.maps.LatLng(47.61682, -122.307201),
new google.maps.LatLng(47.539432, -122.321545),
new google.maps.LatLng(47.602769, -122.331409),
new google.maps.LatLng(47.613069, -122.333142),
new google.maps.LatLng(47.601717, -122.331107),
new google.maps.LatLng(47.53373, -122.285995),
new google.maps.LatLng(47.732235, -122.291057),
new google.maps.LatLng(47.516658, -122.256443),
new google.maps.LatLng(47.575658, -122.31468),
new google.maps.LatLng(47.624561, -122.347571),
new google.maps.LatLng(47.66707, -122.301946),
new google.maps.LatLng(47.615007, -122.337781),
new google.maps.LatLng(47.564049, -122.294615),
new google.maps.LatLng(47.583722, -122.321395),
new google.maps.LatLng(47.719638, -122.355539),
new google.maps.LatLng(47.602114, -122.330809),
new google.maps.LatLng(47.685106, -122.387586),
new google.maps.LatLng(47.618412, -122.355206),
new google.maps.LatLng(47.605671, -122.316781),
new google.maps.LatLng(47.699557, -122.275288),
new google.maps.LatLng(47.661386, -122.333479),
new google.maps.LatLng(47.554777, -122.334215),
new google.maps.LatLng(47.670905, -122.379655),
new google.maps.LatLng(47.61762, -122.310139),
new google.maps.LatLng(47.693088, -122.287612),
new google.maps.LatLng(47.608228, -122.334866),
new google.maps.LatLng(47.610972, -122.340465),
new google.maps.LatLng(47.607557, -122.340392),
new google.maps.LatLng(47.607557, -122.340392),
new google.maps.LatLng(47.607557, -122.340392),
new google.maps.LatLng(47.607557, -122.340392),
new google.maps.LatLng(47.607557, -122.340392),
new google.maps.LatLng(47.607557, -122.340392),
new google.maps.LatLng(47.607557, -122.340392),
new google.maps.LatLng(47.607557, -122.340392),
new google.maps.LatLng(47.607557, -122.340392),
new google.maps.LatLng(47.544872, -122.387215),
new google.maps.LatLng(47.682235, -122.317472),
new google.maps.LatLng(47.544872, -122.387215),
new google.maps.LatLng(47.682235, -122.317472),
new google.maps.LatLng(47.544872, -122.387215),
new google.maps.LatLng(47.682235, -122.317472),
new google.maps.LatLng(47.544872, -122.387215),
new google.maps.LatLng(47.682235, -122.317472),
new google.maps.LatLng(47.544872, -122.387215),
new google.maps.LatLng(47.682235, -122.317472),
new google.maps.LatLng(47.544872, -122.387215),
new google.maps.LatLng(47.682235, -122.317472),
new google.maps.LatLng(47.544872, -122.387215),
new google.maps.LatLng(47.682235, -122.317472),
new google.maps.LatLng(47.544872, -122.387215),
new google.maps.LatLng(47.682235, -122.317472),
new google.maps.LatLng(47.60534, -122.327624),
new google.maps.LatLng(47.60534, -122.327624),
new google.maps.LatLng(47.60534, -122.327624),
new google.maps.LatLng(47.60534, -122.327624),
new google.maps.LatLng(47.60534, -122.327624),
new google.maps.LatLng(47.60534, -122.327624),
new google.maps.LatLng(47.60534, -122.327624),
new google.maps.LatLng(47.60534, -122.327624),
new google.maps.LatLng(47.60534, -122.327624),
new google.maps.LatLng(47.618474, -122.303571),
new google.maps.LatLng(47.618474, -122.303571),
new google.maps.LatLng(47.618474, -122.303571),
new google.maps.LatLng(47.618474, -122.303571),
new google.maps.LatLng(47.618474, -122.303571),
new google.maps.LatLng(47.618474, -122.303571),
new google.maps.LatLng(47.618474, -122.303571),
new google.maps.LatLng(47.618474, -122.303571),
new google.maps.LatLng(47.608621, -122.320756),
new google.maps.LatLng(47.608621, -122.320756),
new google.maps.LatLng(47.608621, -122.320756),
new google.maps.LatLng(47.608621, -122.320756),
new google.maps.LatLng(47.608621, -122.320756),
new google.maps.LatLng(47.608621, -122.320756),
new google.maps.LatLng(47.608621, -122.320756),
new google.maps.LatLng(47.608621, -122.320756),
new google.maps.LatLng(47.504893, -122.269578),
new google.maps.LatLng(47.504893, -122.269578),
new google.maps.LatLng(47.504893, -122.269578),
new google.maps.LatLng(47.504893, -122.269578),
new google.maps.LatLng(47.504893, -122.269578),
new google.maps.LatLng(47.504893, -122.269578),
new google.maps.LatLng(47.504893, -122.269578),
new google.maps.LatLng(47.504893, -122.269578),
new google.maps.LatLng(47.504893, -122.269578),
new google.maps.LatLng(47.610052, -122.325792),
new google.maps.LatLng(47.610052, -122.325792),
new google.maps.LatLng(47.610052, -122.325792),
new google.maps.LatLng(47.610052, -122.325792),
new google.maps.LatLng(47.610052, -122.325792),
new google.maps.LatLng(47.610052, -122.325792),
new google.maps.LatLng(47.610052, -122.325792),
new google.maps.LatLng(47.610052, -122.325792),
new google.maps.LatLng(47.611207, -122.337592),
new google.maps.LatLng(47.611207, -122.337592),
new google.maps.LatLng(47.611207, -122.337592),
new google.maps.LatLng(47.611207, -122.337592),
new google.maps.LatLng(47.611207, -122.337592),
new google.maps.LatLng(47.611207, -122.337592),
new google.maps.LatLng(47.611207, -122.337592),
new google.maps.LatLng(47.609285, -122.338904),
new google.maps.LatLng(47.609285, -122.338904),
new google.maps.LatLng(47.609285, -122.338904),
new google.maps.LatLng(47.609285, -122.338904),
new google.maps.LatLng(47.609285, -122.338904),
new google.maps.LatLng(47.609285, -122.338904),
new google.maps.LatLng(47.609285, -122.338904),
new google.maps.LatLng(47.609285, -122.338904),
new google.maps.LatLng(47.609285, -122.338904),
new google.maps.LatLng(47.709397, -122.309982),
new google.maps.LatLng(47.709397, -122.309982),
new google.maps.LatLng(47.709397, -122.309982),
new google.maps.LatLng(47.709397, -122.309982),
new google.maps.LatLng(47.709397, -122.309982),
new google.maps.LatLng(47.709397, -122.309982),
new google.maps.LatLng(47.709397, -122.309982),
new google.maps.LatLng(47.709397, -122.309982),
new google.maps.LatLng(47.709397, -122.309982),
new google.maps.LatLng(47.58992, -122.322315),
new google.maps.LatLng(47.58992, -122.322315),
new google.maps.LatLng(47.58992, -122.322315),
new google.maps.LatLng(47.58992, -122.322315),
new google.maps.LatLng(47.58992, -122.322315),
new google.maps.LatLng(47.58992, -122.322315),
new google.maps.LatLng(47.58992, -122.322315),
new google.maps.LatLng(47.58992, -122.322315),
new google.maps.LatLng(47.58992, -122.322315),
new google.maps.LatLng(47.720157, -122.292729),
new google.maps.LatLng(47.720157, -122.292729),
new google.maps.LatLng(47.720157, -122.292729),
new google.maps.LatLng(47.720157, -122.292729),
new google.maps.LatLng(47.720157, -122.292729),
new google.maps.LatLng(47.720157, -122.292729),
new google.maps.LatLng(47.720157, -122.292729),
new google.maps.LatLng(47.720157, -122.292729),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.604615, -122.32228),
new google.maps.LatLng(47.732727, -122.296533),
new google.maps.LatLng(47.732727, -122.296533),
new google.maps.LatLng(47.732727, -122.296533),
new google.maps.LatLng(47.732727, -122.296533),
new google.maps.LatLng(47.732727, -122.296533),
new google.maps.LatLng(47.732727, -122.296533),
new google.maps.LatLng(47.732727, -122.296533),
new google.maps.LatLng(47.732727, -122.296533),
new google.maps.LatLng(47.732727, -122.296533),
new google.maps.LatLng(47.527313, -122.322344),
new google.maps.LatLng(47.527313, -122.322344),
new google.maps.LatLng(47.527313, -122.322344),
new google.maps.LatLng(47.527313, -122.322344),
new google.maps.LatLng(47.527313, -122.322344),
new google.maps.LatLng(47.527313, -122.322344),
new google.maps.LatLng(47.527313, -122.322344),
new google.maps.LatLng(47.527313, -122.322344),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.610214, -122.336683),
new google.maps.LatLng(47.610214, -122.336683),
new google.maps.LatLng(47.610214, -122.336683),
new google.maps.LatLng(47.610214, -122.336683),
new google.maps.LatLng(47.610214, -122.336683),
new google.maps.LatLng(47.610214, -122.336683),
new google.maps.LatLng(47.610214, -122.336683),
new google.maps.LatLng(47.610214, -122.336683),
new google.maps.LatLng(47.658727, -122.269597),
new google.maps.LatLng(47.658727, -122.269597),
new google.maps.LatLng(47.658727, -122.269597),
new google.maps.LatLng(47.658727, -122.269597),
new google.maps.LatLng(47.658727, -122.269597),
new google.maps.LatLng(47.658727, -122.269597),
new google.maps.LatLng(47.658727, -122.269597),
new google.maps.LatLng(47.658727, -122.269597),
new google.maps.LatLng(47.539419, -122.390816),
new google.maps.LatLng(47.539419, -122.390816),
new google.maps.LatLng(47.539419, -122.390816),
new google.maps.LatLng(47.539419, -122.390816),
new google.maps.LatLng(47.539419, -122.390816),
new google.maps.LatLng(47.539419, -122.390816),
new google.maps.LatLng(47.539419, -122.390816),
new google.maps.LatLng(47.539419, -122.390816),
new google.maps.LatLng(47.61313, -122.336282),
new google.maps.LatLng(47.61313, -122.336282),
new google.maps.LatLng(47.61313, -122.336282),
new google.maps.LatLng(47.61313, -122.336282),
new google.maps.LatLng(47.61313, -122.336282),
new google.maps.LatLng(47.61313, -122.336282),
new google.maps.LatLng(47.61313, -122.336282),
new google.maps.LatLng(47.61313, -122.336282),
new google.maps.LatLng(47.61313, -122.336282),
new google.maps.LatLng(47.533698, -122.363185),
new google.maps.LatLng(47.533698, -122.363185),
new google.maps.LatLng(47.533698, -122.363185),
new google.maps.LatLng(47.533698, -122.363185),
new google.maps.LatLng(47.533698, -122.363185),
new google.maps.LatLng(47.533698, -122.363185),
new google.maps.LatLng(47.533698, -122.363185),
new google.maps.LatLng(47.533698, -122.363185),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.591265, -122.314173),
new google.maps.LatLng(47.591265, -122.314173),
new google.maps.LatLng(47.591265, -122.314173),
new google.maps.LatLng(47.591265, -122.314173),
new google.maps.LatLng(47.591265, -122.314173),
new google.maps.LatLng(47.591265, -122.314173),
new google.maps.LatLng(47.591265, -122.314173),
new google.maps.LatLng(47.591265, -122.314173),
new google.maps.LatLng(47.665337, -122.300716),
new google.maps.LatLng(47.665337, -122.300716),
new google.maps.LatLng(47.665337, -122.300716),
new google.maps.LatLng(47.665337, -122.300716),
new google.maps.LatLng(47.665337, -122.300716),
new google.maps.LatLng(47.665337, -122.300716),
new google.maps.LatLng(47.665337, -122.300716),
new google.maps.LatLng(47.665337, -122.300716),
new google.maps.LatLng(47.665337, -122.300716),
new google.maps.LatLng(47.58541, -122.303541),
new google.maps.LatLng(47.58541, -122.303541),
new google.maps.LatLng(47.58541, -122.303541),
new google.maps.LatLng(47.58541, -122.303541),
new google.maps.LatLng(47.58541, -122.303541),
new google.maps.LatLng(47.58541, -122.303541),
new google.maps.LatLng(47.58541, -122.303541),
new google.maps.LatLng(47.58541, -122.303541),
new google.maps.LatLng(47.670175, -122.379174),
new google.maps.LatLng(47.670175, -122.379174),
new google.maps.LatLng(47.670175, -122.379174),
new google.maps.LatLng(47.670175, -122.379174),
new google.maps.LatLng(47.670175, -122.379174),
new google.maps.LatLng(47.670175, -122.379174),
new google.maps.LatLng(47.670175, -122.379174),
new google.maps.LatLng(47.670175, -122.379174),
new google.maps.LatLng(47.563417, -122.290279),
new google.maps.LatLng(47.635526, -122.340367),
new google.maps.LatLng(47.609088, -122.330457),
new google.maps.LatLng(47.61516, -122.339614),
new google.maps.LatLng(47.592394, -122.32738),
new google.maps.LatLng(47.689113, -122.344514),
new google.maps.LatLng(47.719674, -122.355539),
new google.maps.LatLng(47.708705, -122.301263),
new google.maps.LatLng(47.613011, -122.326948),
new google.maps.LatLng(47.531953, -122.342954),
new google.maps.LatLng(47.556649, -122.290746),
new google.maps.LatLng(47.609994, -122.346301),
new google.maps.LatLng(47.618274, -122.330999),
new google.maps.LatLng(47.606088, -122.332909),
new google.maps.LatLng(47.589841, -122.337638),
new google.maps.LatLng(47.614317, -122.316839),
new google.maps.LatLng(47.616691, -122.346171),
new google.maps.LatLng(47.665746, -122.303435),
new google.maps.LatLng(47.670912, -122.384743),
new google.maps.LatLng(47.703068, -122.301621),
new google.maps.LatLng(47.59205, -122.297634),
new google.maps.LatLng(47.534966, -122.36317),
new google.maps.LatLng(47.65283, -122.406813),
new google.maps.LatLng(47.637997, -122.341927),
new google.maps.LatLng(47.56107, -122.386779),
new google.maps.LatLng(47.707059, -122.337513),
new google.maps.LatLng(47.596676, -122.32637),
new google.maps.LatLng(47.540701, -122.39646),
new google.maps.LatLng(47.60229, -122.329436),
new google.maps.LatLng(47.696419, -122.344592),
new google.maps.LatLng(47.581851, -122.314641),
new google.maps.LatLng(47.565324, -122.312691),
new google.maps.LatLng(47.565319, -122.314737),
new google.maps.LatLng(47.565319, -122.314737),
new google.maps.LatLng(47.699447, -122.366044),
new google.maps.LatLng(47.566782, -122.314699),
new google.maps.LatLng(47.642472, -122.38331),
new google.maps.LatLng(47.602172, -122.330863),
new google.maps.LatLng(47.632438, -122.356907),
new google.maps.LatLng(47.60994, -122.3237),
new google.maps.LatLng(47.61404, -122.345653),
new google.maps.LatLng(47.642982, -122.347259),
new google.maps.LatLng(47.603611, -122.323056),
new google.maps.LatLng(47.638512, -122.322606),
new google.maps.LatLng(47.549748, -122.286273),
new google.maps.LatLng(47.602985, -122.328535),
new google.maps.LatLng(47.708899, -122.320568),
new google.maps.LatLng(47.606801, -122.333562),
new google.maps.LatLng(47.611553, -122.311479),
new google.maps.LatLng(47.616918, -122.352507),
new google.maps.LatLng(47.620553, -122.302494),
new google.maps.LatLng(47.70361, -122.347013),
new google.maps.LatLng(47.586213, -122.35543),
new google.maps.LatLng(47.717893, -122.318086),
new google.maps.LatLng(47.675994, -122.378881),
new google.maps.LatLng(47.615556, -122.344167),
new google.maps.LatLng(47.649542, -122.357861),
new google.maps.LatLng(47.608966, -122.341682),
new google.maps.LatLng(47.699341, -122.277727),
new google.maps.LatLng(47.618379, -122.333158),
new google.maps.LatLng(47.670175, -122.378984),
new google.maps.LatLng(47.591904, -122.325968),
new google.maps.LatLng(47.523056, -122.319795),
new google.maps.LatLng(47.637384, -122.283673),
new google.maps.LatLng(47.544669, -122.373777),
new google.maps.LatLng(47.617779, -122.291285),
new google.maps.LatLng(47.608966, -122.341682),
new google.maps.LatLng(47.60773, -122.331343),
new google.maps.LatLng(47.568094, -122.401774),
new google.maps.LatLng(47.618497, -122.327854),
new google.maps.LatLng(47.599167, -122.327778),
new google.maps.LatLng(47.522342, -122.272746),
new google.maps.LatLng(47.540169, -122.263462),
new google.maps.LatLng(47.586958, -122.31168),
new google.maps.LatLng(47.603333, -122.335081),
new google.maps.LatLng(47.572163, -122.296173),
new google.maps.LatLng(47.633768, -122.297921),
new google.maps.LatLng(47.637416, -122.355598),
new google.maps.LatLng(47.73104, -122.347764),
new google.maps.LatLng(47.618668, -122.345006),
new google.maps.LatLng(47.66147, -122.314281),
new google.maps.LatLng(47.714015, -122.309816),
new google.maps.LatLng(47.590802, -122.309163),
new google.maps.LatLng(47.676021, -122.406368),
new google.maps.LatLng(47.71405, -122.324193),
new google.maps.LatLng(47.656551, -122.356467),
new google.maps.LatLng(47.69587, -122.309469),
new google.maps.LatLng(47.612963, -122.320762),
new google.maps.LatLng(47.674517, -122.324423),
new google.maps.LatLng(47.700256, -122.301318),
new google.maps.LatLng(47.649115, -122.409562),
new google.maps.LatLng(47.602985, -122.328535),
new google.maps.LatLng(47.574048, -122.308899),
new google.maps.LatLng(47.716844, -122.344889),
new google.maps.LatLng(47.651679, -122.321567),
new google.maps.LatLng(47.613037, -122.326981),
new google.maps.LatLng(47.573085, -122.36255),
new google.maps.LatLng(47.615789, -122.336507),
new google.maps.LatLng(47.670176, -122.379565),
new google.maps.LatLng(47.622501, -122.337147),
new google.maps.LatLng(47.53865, -122.32063),
new google.maps.LatLng(47.575821, -122.404333),
new google.maps.LatLng(47.555752, -122.355926),
new google.maps.LatLng(47.609994, -122.346301),
new google.maps.LatLng(47.626322, -122.348863),
new google.maps.LatLng(47.602114, -122.330809),
new google.maps.LatLng(47.614696, -122.348746),
new google.maps.LatLng(47.616033, -122.343075),
new google.maps.LatLng(47.561096, -122.384137),
new google.maps.LatLng(47.615086, -122.335521),
new google.maps.LatLng(47.654436, -122.30689),
new google.maps.LatLng(47.675179, -122.395759),
new google.maps.LatLng(47.663343, -122.314234),
new google.maps.LatLng(47.654411, -122.338661),
new google.maps.LatLng(47.609088, -122.330457),
new google.maps.LatLng(47.718248, -122.356205),
new google.maps.LatLng(47.588027, -122.386277),
new google.maps.LatLng(47.706054, -122.320508),
new google.maps.LatLng(47.588024, -122.395839),
new google.maps.LatLng(47.703648, -122.35757),
new google.maps.LatLng(47.612025, -122.344231),
new google.maps.LatLng(47.638821, -122.32711),
new google.maps.LatLng(47.602165, -122.330856),
new google.maps.LatLng(47.606245, -122.340723),
new google.maps.LatLng(47.610301, -122.327555),
new google.maps.LatLng(47.61549, -122.296167),
new google.maps.LatLng(47.630488, -122.357908),
new google.maps.LatLng(47.537046, -122.283397),
new google.maps.LatLng(47.678758, -122.324989),
new google.maps.LatLng(47.618248, -122.350787),
new google.maps.LatLng(47.529091, -122.283666),
new google.maps.LatLng(47.583725, -122.329054),
new google.maps.LatLng(47.686702, -122.285262),
new google.maps.LatLng(47.526302, -122.363169),
new google.maps.LatLng(47.538872, -122.284744),
new google.maps.LatLng(47.622242, -122.332995),
new google.maps.LatLng(47.595693, -122.333273),
new google.maps.LatLng(47.644371, -122.346913),
new google.maps.LatLng(47.606389, -122.334739),
new google.maps.LatLng(47.621987, -122.320766),
new google.maps.LatLng(47.553846, -122.303986),
new google.maps.LatLng(47.683057, -122.295886),
new google.maps.LatLng(47.605346, -122.319413),
new google.maps.LatLng(47.527317, -122.323771),
new google.maps.LatLng(47.668678, -122.385027),
new google.maps.LatLng(47.555487, -122.28611),
new google.maps.LatLng(47.569128, -122.295034),
new google.maps.LatLng(47.606982, -122.326056),
new google.maps.LatLng(47.615294, -122.308847),
new google.maps.LatLng(47.675846, -122.319289),
new google.maps.LatLng(47.530516, -122.266327),
new google.maps.LatLng(47.560748, -122.287027),
new google.maps.LatLng(47.549905, -122.369858),
new google.maps.LatLng(47.54977, -122.288608),
new google.maps.LatLng(47.580001, -122.355806),
new google.maps.LatLng(47.651317, -122.347314),
new google.maps.LatLng(47.58914, -122.307318),
new google.maps.LatLng(47.61392, -122.351402),
new google.maps.LatLng(47.538872, -122.284744),
new google.maps.LatLng(47.670327, -122.295036),
new google.maps.LatLng(47.562757, -122.382814),
new google.maps.LatLng(47.623391, -122.314649),
new google.maps.LatLng(47.668671, -122.37759),
new google.maps.LatLng(47.719962, -122.366374),
new google.maps.LatLng(47.675783, -122.31193),
new google.maps.LatLng(47.726864, -122.348012),
new google.maps.LatLng(47.58182, -122.378589),
new google.maps.LatLng(47.53522, -122.277589),
new google.maps.LatLng(47.677774, -122.371067),
new google.maps.LatLng(47.702763, -122.2814),
new google.maps.LatLng(47.523307, -122.269986),
new google.maps.LatLng(47.558988, -122.376234),
new google.maps.LatLng(47.541539, -122.325628),
new google.maps.LatLng(47.569598, -122.334201),
new google.maps.LatLng(47.600194, -122.330541),
new google.maps.LatLng(47.625099, -122.366359),
new google.maps.LatLng(47.610387, -122.341198),
new google.maps.LatLng(47.612158, -122.323113),
new google.maps.LatLng(47.670176, -122.379565),
new google.maps.LatLng(47.65967, -122.304419),
new google.maps.LatLng(47.703624, -122.333909),
new google.maps.LatLng(47.603913, -122.321599),
new google.maps.LatLng(47.628417, -122.314569),
new google.maps.LatLng(47.535296, -122.37524),
new google.maps.LatLng(47.621076, -122.320892),
new google.maps.LatLng(47.613165, -122.340205),
new google.maps.LatLng(47.710822, -122.355496),
new google.maps.LatLng(47.712044, -122.299512),
new google.maps.LatLng(47.602172, -122.330863),
new google.maps.LatLng(47.539608, -122.266952),
new google.maps.LatLng(47.612158, -122.323113),
new google.maps.LatLng(47.625584, -122.346258),
new google.maps.LatLng(47.65996, -122.342217),
new google.maps.LatLng(47.719572, -122.3418),
new google.maps.LatLng(47.521595, -122.264225),
new google.maps.LatLng(47.550102, -122.317754),
new google.maps.LatLng(47.616385, -122.335736),
new google.maps.LatLng(47.612716, -122.345399),
new google.maps.LatLng(47.556616, -122.288718),
new google.maps.LatLng(47.57138, -122.352642),
new google.maps.LatLng(47.687025, -122.366002),
new google.maps.LatLng(47.654498, -122.403592),
new google.maps.LatLng(47.572968, -122.313397),
new google.maps.LatLng(47.625855, -122.362112),
new google.maps.LatLng(47.58526, -122.310763),
new google.maps.LatLng(47.611944, -122.326111),
new google.maps.LatLng(47.52187, -122.279647),
new google.maps.LatLng(47.637266, -122.27711),
new google.maps.LatLng(47.523307, -122.269986),
new google.maps.LatLng(47.556716, -122.364264),
new google.maps.LatLng(47.731677, -122.347772),
new google.maps.LatLng(47.661385, -122.343778),
new google.maps.LatLng(47.723223, -122.351366),
new google.maps.LatLng(47.61411, -122.34974),
new google.maps.LatLng(47.534706, -122.27242),
new google.maps.LatLng(47.61762, -122.310139),
new google.maps.LatLng(47.600194, -122.330541),
new google.maps.LatLng(47.598291, -122.330232),
new google.maps.LatLng(47.507405, -122.259447),
new google.maps.LatLng(47.614308, -122.325517),
new google.maps.LatLng(47.597515, -122.326367),
new google.maps.LatLng(47.566976, -122.331975),
new google.maps.LatLng(47.54088, -122.288573),
new google.maps.LatLng(47.540318, -122.286124),
new google.maps.LatLng(47.615789, -122.336507),
new google.maps.LatLng(47.675775, -122.302579),
new google.maps.LatLng(47.661695, -122.308374),
new google.maps.LatLng(47.719317, -122.28321),
new google.maps.LatLng(47.544215, -122.37377),
new google.maps.LatLng(47.526465, -122.322916),
new google.maps.LatLng(47.721329, -122.296339),
new google.maps.LatLng(47.61682, -122.307201),
new google.maps.LatLng(47.600289, -122.302236),
new google.maps.LatLng(47.600034, -122.327396),
new google.maps.LatLng(47.612958, -122.337873),
new google.maps.LatLng(47.596346, -122.297501),
new google.maps.LatLng(47.592105, -122.317281),
new google.maps.LatLng(47.639868, -122.396987),
new google.maps.LatLng(47.543396, -122.284813),
new google.maps.LatLng(47.629186, -122.307265),
new google.maps.LatLng(47.571408, -122.291001),
new google.maps.LatLng(47.518991, -122.364557),
new google.maps.LatLng(47.62975, -122.356619),
new google.maps.LatLng(47.618597, -122.354147),
new google.maps.LatLng(47.671564, -122.327499),
new google.maps.LatLng(47.600194, -122.330541),
new google.maps.LatLng(47.65264, -122.328934),
new google.maps.LatLng(47.533703, -122.365816),
new google.maps.LatLng(47.544499, -122.376449),
new google.maps.LatLng(47.65996, -122.342217),
new google.maps.LatLng(47.548079, -122.295809),
new google.maps.LatLng(47.601649, -122.302324),
new google.maps.LatLng(47.618522, -122.335321),
new google.maps.LatLng(47.544854, -122.385752),
new google.maps.LatLng(47.61523, -122.323087),
new google.maps.LatLng(47.633523, -122.277157),
new google.maps.LatLng(47.610387, -122.341198),
new google.maps.LatLng(47.54586, -122.275769),
new google.maps.LatLng(47.562728, -122.294695),
new google.maps.LatLng(47.719411, -122.29273),
new google.maps.LatLng(47.723218, -122.348195),
new google.maps.LatLng(47.600887, -122.322212),
new google.maps.LatLng(47.623153, -122.296667),
new google.maps.LatLng(47.611207, -122.337592),
new google.maps.LatLng(47.703693, -122.350059),
new google.maps.LatLng(47.604695, -122.336238),
new google.maps.LatLng(47.531389, -122.392698),
new google.maps.LatLng(47.667765, -122.409037),
new google.maps.LatLng(47.602172, -122.330863),
new google.maps.LatLng(47.606628, -122.312857),
new google.maps.LatLng(47.523814, -122.314954),
new google.maps.LatLng(47.526686, -122.392757),
new google.maps.LatLng(47.548878, -122.269901),
new google.maps.LatLng(47.561926, -122.376204),
new google.maps.LatLng(47.535341, -122.351667),
new google.maps.LatLng(47.601722, -122.335262),
new google.maps.LatLng(47.546277, -122.385738),
new google.maps.LatLng(47.535341, -122.351667),
new google.maps.LatLng(47.551689, -122.317047),
new google.maps.LatLng(47.600044, -122.334219),
new google.maps.LatLng(47.603519, -122.319195),
new google.maps.LatLng(47.57835, -122.298151),
new google.maps.LatLng(47.714303, -122.360891),
new google.maps.LatLng(47.619841, -122.326573),
new google.maps.LatLng(47.546648, -122.373551),
new google.maps.LatLng(47.515196, -122.25937),
new google.maps.LatLng(47.53518, -122.33843),
new google.maps.LatLng(47.584738, -122.340014),
new google.maps.LatLng(47.544277, -122.294743),
new google.maps.LatLng(47.609237, -122.287591),
new google.maps.LatLng(47.723223, -122.351366),
new google.maps.LatLng(47.623391, -122.314649),
new google.maps.LatLng(47.533694, -122.361351),
new google.maps.LatLng(47.602985, -122.328535),
new google.maps.LatLng(47.535387, -122.267284),
new google.maps.LatLng(47.602348, -122.337148),
new google.maps.LatLng(47.575574, -122.329059),
new google.maps.LatLng(47.722675, -122.318116),
new google.maps.LatLng(47.579891, -122.295179),
new google.maps.LatLng(47.654115, -122.417938),
new google.maps.LatLng(47.577118, -122.296264),
new google.maps.LatLng(47.62118, -122.314685),
new google.maps.LatLng(47.561849, -122.310818),
new google.maps.LatLng(47.61762, -122.310139),
new google.maps.LatLng(47.561926, -122.376204),
new google.maps.LatLng(47.630635, -122.311006),
new google.maps.LatLng(47.613011, -122.326948),
new google.maps.LatLng(47.61015, -122.333556),
new google.maps.LatLng(47.619736, -122.331697),
new google.maps.LatLng(47.637416, -122.355598),
new google.maps.LatLng(47.712522, -122.342128),
new google.maps.LatLng(47.605126, -122.330494),
new google.maps.LatLng(47.611944, -122.326111),
new google.maps.LatLng(47.620503, -122.312698),
new google.maps.LatLng(47.679602, -122.349487),
new google.maps.LatLng(47.711904, -122.286629),
new google.maps.LatLng(47.619736, -122.331697),
new google.maps.LatLng(47.721329, -122.296339),
new google.maps.LatLng(47.601716, -122.330265),
new google.maps.LatLng(47.610214, -122.336683),
new google.maps.LatLng(47.566442, -122.392133),
new google.maps.LatLng(47.65932, -122.317756),
new google.maps.LatLng(47.554686, -122.399422),
new google.maps.LatLng(47.588226, -122.32597),
new google.maps.LatLng(47.631249, -122.390204),
new google.maps.LatLng(47.560754, -122.288822),
new google.maps.LatLng(47.562011, -122.294242),
new google.maps.LatLng(47.67092, -122.390294),
new google.maps.LatLng(47.553896, -122.387289),
new google.maps.LatLng(47.562011, -122.294242),
new google.maps.LatLng(47.607567, -122.340401),
new google.maps.LatLng(47.726345, -122.32936),
new google.maps.LatLng(47.582866, -122.301224),
new google.maps.LatLng(47.599167, -122.327778),
new google.maps.LatLng(47.600044, -122.334219),
new google.maps.LatLng(47.514263, -122.271633),
new google.maps.LatLng(47.572163, -122.296173),
new google.maps.LatLng(47.630887, -122.320208),
new google.maps.LatLng(47.613308, -122.342432),
new google.maps.LatLng(47.602985, -122.328535),
new google.maps.LatLng(47.633523, -122.277157),
new google.maps.LatLng(47.661448, -122.317559),
new google.maps.LatLng(47.546977, -122.271593),
new google.maps.LatLng(47.612136, -122.335373),
new google.maps.LatLng(47.551221, -122.284738),
new google.maps.LatLng(47.618597, -122.354147),
new google.maps.LatLng(47.644988, -122.390244),
new google.maps.LatLng(47.733762, -122.293621),
new google.maps.LatLng(47.708935, -122.320569),
new google.maps.LatLng(47.62436, -122.296608),
new google.maps.LatLng(47.665852, -122.301917),
new google.maps.LatLng(47.665852, -122.301917),
new google.maps.LatLng(47.663092, -122.313102),
new google.maps.LatLng(47.626322, -122.348863),
new google.maps.LatLng(47.615391, -122.349498),
new google.maps.LatLng(47.601745, -122.295987),
new google.maps.LatLng(47.599995, -122.314133),
new google.maps.LatLng(47.654726, -122.371545),
new google.maps.LatLng(47.626322, -122.348863),
new google.maps.LatLng(47.723218, -122.348195),
new google.maps.LatLng(47.68282, -122.342085),
new google.maps.LatLng(47.608946, -122.333989),
new google.maps.LatLng(47.675798, -122.401454),
new google.maps.LatLng(47.546018, -122.283107),
new google.maps.LatLng(47.609125, -122.340291),
new google.maps.LatLng(47.660046, -122.314318),
new google.maps.LatLng(47.607828, -122.339105),
new google.maps.LatLng(47.676136, -122.290283),
new google.maps.LatLng(47.58821, -122.302598),
new google.maps.LatLng(47.708463, -122.288076),
new google.maps.LatLng(47.719638, -122.355539),
new google.maps.LatLng(47.517567, -122.268024),
new google.maps.LatLng(47.611606, -122.333354),
new google.maps.LatLng(47.553495, -122.376281),
new google.maps.LatLng(47.542772, -122.354923),
new google.maps.LatLng(47.562472, -122.385455),
new google.maps.LatLng(47.538313, -122.376582),
new google.maps.LatLng(47.535515, -122.36216),
new google.maps.LatLng(47.722355, -122.320844),
new google.maps.LatLng(47.617198, -122.335129),
new google.maps.LatLng(47.633523, -122.277157),
new google.maps.LatLng(47.588027, -122.386277),
new google.maps.LatLng(47.610972, -122.340465),
new google.maps.LatLng(47.558988, -122.376234),
new google.maps.LatLng(47.715635, -122.298924),
new google.maps.LatLng(47.592394, -122.329049),
new google.maps.LatLng(47.581192, -122.389239),
new google.maps.LatLng(47.6626, -122.357842),
new google.maps.LatLng(47.607797, -122.319385),
new google.maps.LatLng(47.67834, -122.32895),
new google.maps.LatLng(47.573078, -122.382526),
new google.maps.LatLng(47.719284, -122.296115),
new google.maps.LatLng(47.68766, -122.366),
new google.maps.LatLng(47.614104, -122.316836),
new google.maps.LatLng(47.53852, -122.387284),
new google.maps.LatLng(47.648845, -122.372274),
new google.maps.LatLng(47.642606, -122.392962),
new google.maps.LatLng(47.732655, -122.33426),
new google.maps.LatLng(47.661246, -122.296964),
new google.maps.LatLng(47.70866, -122.301278),
new google.maps.LatLng(47.617173, -122.333103),
new google.maps.LatLng(47.626721, -122.35812),
new google.maps.LatLng(47.53055, -122.276983),
new google.maps.LatLng(47.73104, -122.347764),
new google.maps.LatLng(47.649847, -122.344754),
new google.maps.LatLng(47.622143, -122.324025),
new google.maps.LatLng(47.607613, -122.302771),
new google.maps.LatLng(47.562517, -122.385455),
new google.maps.LatLng(47.61055, -122.329318),
new google.maps.LatLng(47.610972, -122.340465),
new google.maps.LatLng(47.661295, -122.30838),
new google.maps.LatLng(47.562286, -122.351994),
new google.maps.LatLng(47.538902, -122.293225),
new google.maps.LatLng(47.721329, -122.296339),
new google.maps.LatLng(47.521023, -122.366095),
new google.maps.LatLng(47.68157, -122.296534),
new google.maps.LatLng(47.73104, -122.347764),
new google.maps.LatLng(47.526114, -122.279265),
new google.maps.LatLng(47.696359, -122.344319),
new google.maps.LatLng(47.61856, -122.344679),
new google.maps.LatLng(47.581176, -122.383889),
new google.maps.LatLng(47.567297, -122.282877),
new google.maps.LatLng(47.66707, -122.301946),
new google.maps.LatLng(47.677694, -122.309826),
new google.maps.LatLng(47.564431, -122.318706),
new google.maps.LatLng(47.601663, -122.330148),
new google.maps.LatLng(47.580872, -122.294152),
new google.maps.LatLng(47.671704, -122.347165),
new google.maps.LatLng(47.666366, -122.284802),
new google.maps.LatLng(47.509304, -122.258149),
new google.maps.LatLng(47.708656, -122.3329),
new google.maps.LatLng(47.700462, -122.383245),
new google.maps.LatLng(47.732655, -122.33426),
new google.maps.LatLng(47.692645, -122.358003),
new google.maps.LatLng(47.666712, -122.310774),
new google.maps.LatLng(47.717748, -122.312622),
new google.maps.LatLng(47.604698, -122.312865),
new google.maps.LatLng(47.614242, -122.346),
new google.maps.LatLng(47.569858, -122.397442),
new google.maps.LatLng(47.560741, -122.284895),
new google.maps.LatLng(47.627373, -122.32129),
new google.maps.LatLng(47.723223, -122.351366),
new google.maps.LatLng(47.600878, -122.319366),
new google.maps.LatLng(47.723223, -122.351366),
new google.maps.LatLng(47.593309, -122.29658),
new google.maps.LatLng(47.525591, -122.314494),
new google.maps.LatLng(47.690609, -122.376806),
new google.maps.LatLng(47.558988, -122.376234),
new google.maps.LatLng(47.600875, -122.319458),
new google.maps.LatLng(47.611629, -122.339592),
new google.maps.LatLng(47.556616, -122.288822),
new google.maps.LatLng(47.602482, -122.337268),
new google.maps.LatLng(47.608821, -122.340013),
new google.maps.LatLng(47.701518, -122.367627),
new google.maps.LatLng(47.564499, -122.386772),
new google.maps.LatLng(47.601695, -122.317823),
new google.maps.LatLng(47.560278, -122.270701),
new google.maps.LatLng(47.666667, -122.307163),
new google.maps.LatLng(47.606687, -122.31155),
new google.maps.LatLng(47.701756, -122.335022),
new google.maps.LatLng(47.539419, -122.390816),
new google.maps.LatLng(47.605911, -122.340413),
new google.maps.LatLng(47.667143, -122.35442),
new google.maps.LatLng(47.708899, -122.320568),
new google.maps.LatLng(47.650349, -122.372373),
new google.maps.LatLng(47.638761, -122.329445),
new google.maps.LatLng(47.606071, -122.285616),
new google.maps.LatLng(47.726864, -122.348012),
new google.maps.LatLng(47.51653, -122.28369),
new google.maps.LatLng(47.676048, -122.30382),
new google.maps.LatLng(47.609363, -122.287202),
new google.maps.LatLng(47.662865, -122.342108),
new google.maps.LatLng(47.66288, -122.353974),
new google.maps.LatLng(47.69491, -122.344574),
new google.maps.LatLng(47.618497, -122.327854),
new google.maps.LatLng(47.600659, -122.308964),
new google.maps.LatLng(47.694831, -122.301521),
new google.maps.LatLng(47.708611, -122.325955),
new google.maps.LatLng(47.670175, -122.378984),
new google.maps.LatLng(47.606687, -122.31155),
new google.maps.LatLng(47.603111, -122.318102),
new google.maps.LatLng(47.690586, -122.352435),
new google.maps.LatLng(47.65915, -122.288073),
new google.maps.LatLng(47.709268, -122.327311),
new google.maps.LatLng(47.600194, -122.330541),
new google.maps.LatLng(47.606302, -122.330039),
new google.maps.LatLng(47.561926, -122.376204),
new google.maps.LatLng(47.690626, -122.360774),
new google.maps.LatLng(47.705342, -122.333935),
new google.maps.LatLng(47.577599, -122.313361),
new google.maps.LatLng(47.613497, -122.346355),
new google.maps.LatLng(47.656013, -122.3157),
new google.maps.LatLng(47.542648, -122.292631),
new google.maps.LatLng(47.615027, -122.335199),
new google.maps.LatLng(47.601718, -122.331581),
new google.maps.LatLng(47.61444, -122.324463),
new google.maps.LatLng(47.571252, -122.385739),
new google.maps.LatLng(47.533081, -122.311224),
new google.maps.LatLng(47.609088, -122.330457),
new google.maps.LatLng(47.512804, -122.253508),
new google.maps.LatLng(47.602813, -122.331449),
new google.maps.LatLng(47.523056, -122.319795),
new google.maps.LatLng(47.612606, -122.345213),
new google.maps.LatLng(47.551897, -122.385583),
new google.maps.LatLng(47.597517, -122.327395),
new google.maps.LatLng(47.558864, -122.386843),
new google.maps.LatLng(47.649525, -122.349312),
new google.maps.LatLng(47.610379, -122.297534),
new google.maps.LatLng(47.678556, -122.326837),
new google.maps.LatLng(47.575819, -122.404175),
new google.maps.LatLng(47.712167, -122.312433),
new google.maps.LatLng(47.581214, -122.391903),
new google.maps.LatLng(47.614125, -122.297234),
new google.maps.LatLng(47.601718, -122.331581),
new google.maps.LatLng(47.579509, -122.409331),
new google.maps.LatLng(47.544001, -122.310133),
new google.maps.LatLng(47.609847, -122.340843),
new google.maps.LatLng(47.667111, -122.302934),
new google.maps.LatLng(47.606389, -122.325556),
new google.maps.LatLng(47.689112, -122.351977),
new google.maps.LatLng(47.612692, -122.345359),
new google.maps.LatLng(47.611944, -122.326111),
new google.maps.LatLng(47.600099, -122.298642),
new google.maps.LatLng(47.610972, -122.340465),
new google.maps.LatLng(47.722899, -122.293194),
new google.maps.LatLng(47.636938, -122.344127),
new google.maps.LatLng(47.537499, -122.38196),
new google.maps.LatLng(47.637416, -122.355598),
new google.maps.LatLng(47.601745, -122.295987),
new google.maps.LatLng(47.614788, -122.342952),
new google.maps.LatLng(47.613271, -122.344353),
new google.maps.LatLng(47.609088, -122.330457),
new google.maps.LatLng(47.626018, -122.29244),
new google.maps.LatLng(47.603622, -122.332188),
new google.maps.LatLng(47.662192, -122.364004),
new google.maps.LatLng(47.601666, -122.302222),
new google.maps.LatLng(47.623391, -122.314649),
new google.maps.LatLng(47.600886, -122.335314),
new google.maps.LatLng(47.609227, -122.31678),
new google.maps.LatLng(47.55339, -122.365577),
new google.maps.LatLng(47.612669, -122.345319),
new google.maps.LatLng(47.521597, -122.27957),
new google.maps.LatLng(47.608966, -122.341682),
new google.maps.LatLng(47.620814, -122.332852),
new google.maps.LatLng(47.600194, -122.330541),
new google.maps.LatLng(47.616989, -122.330811),
new google.maps.LatLng(47.527884, -122.28761),
new google.maps.LatLng(47.60916, -122.33264),
new google.maps.LatLng(47.610972, -122.340465),
new google.maps.LatLng(47.598313, -122.327671),
new google.maps.LatLng(47.637423, -122.306209),
new google.maps.LatLng(47.617316, -122.347229),
new google.maps.LatLng(47.617173, -122.333103),
new google.maps.LatLng(47.534046, -122.3506),
new google.maps.LatLng(47.670187, -122.388155),
new google.maps.LatLng(47.601649, -122.302324),
new google.maps.LatLng(47.592694, -122.309096),
new google.maps.LatLng(47.706119, -122.332607),
new google.maps.LatLng(47.562356, -122.29099),
new google.maps.LatLng(47.542598, -122.37784),
new google.maps.LatLng(47.59415, -122.32905),
new google.maps.LatLng(47.57832, -122.305369),
new google.maps.LatLng(47.665131, -122.28479),
new google.maps.LatLng(47.606687, -122.31155),
new google.maps.LatLng(47.606209, -122.319416),
new google.maps.LatLng(47.614115, -122.313533),
new google.maps.LatLng(47.70593, -122.332098),
new google.maps.LatLng(47.558671, -122.29149),
new google.maps.LatLng(47.701756, -122.335022),
new google.maps.LatLng(47.615556, -122.344167),
new google.maps.LatLng(47.622242, -122.332995),
new google.maps.LatLng(47.620113, -122.322209),
new google.maps.LatLng(47.612716, -122.345399),
new google.maps.LatLng(47.699049, -122.376785),
new google.maps.LatLng(47.599199, -122.335909),
new google.maps.LatLng(47.661269, -122.313049),
new google.maps.LatLng(47.706743, -122.348744),
new google.maps.LatLng(47.602348, -122.337148),
new google.maps.LatLng(47.549761, -122.363014),
new google.maps.LatLng(47.61411, -122.34974),
new google.maps.LatLng(47.658397, -122.397692),
new google.maps.LatLng(47.558837, -122.394922),
new google.maps.LatLng(47.531874, -122.360442),
new google.maps.LatLng(47.549939, -122.311005),
new google.maps.LatLng(47.6668, -122.306495),
new google.maps.LatLng(47.66288, -122.353974),
new google.maps.LatLng(47.615227, -122.321926),
new google.maps.LatLng(47.65996, -122.342217),
new google.maps.LatLng(47.61856, -122.344679),
new google.maps.LatLng(47.722307, -122.347444),
new google.maps.LatLng(47.728228, -122.355558),
new google.maps.LatLng(47.712167, -122.312433),
new google.maps.LatLng(47.623505, -122.322002),
new google.maps.LatLng(47.676554, -122.317373),
new google.maps.LatLng(47.673991, -122.290254),
new google.maps.LatLng(47.615556, -122.344167),
new google.maps.LatLng(47.544499, -122.376449),
new google.maps.LatLng(47.521595, -122.264225),
new google.maps.LatLng(47.51873, -122.352872),
new google.maps.LatLng(47.609847, -122.340843),
new google.maps.LatLng(47.61856, -122.344679),
new google.maps.LatLng(47.528351, -122.379395),
new google.maps.LatLng(47.652194, -122.336305),
new google.maps.LatLng(47.538872, -122.284744),
new google.maps.LatLng(47.690625, -122.360648),
new google.maps.LatLng(47.611786, -122.339857),
new google.maps.LatLng(47.723223, -122.351366),
new google.maps.LatLng(47.623222, -122.333001),
new google.maps.LatLng(47.608059, -122.31678),
new google.maps.LatLng(47.713747, -122.344837),
new google.maps.LatLng(47.537038, -122.285748),
new google.maps.LatLng(47.61077, -122.326433),
new google.maps.LatLng(47.602172, -122.330863),
new google.maps.LatLng(47.533698, -122.363185),
new google.maps.LatLng(47.702884, -122.34676),
new google.maps.LatLng(47.617238, -122.349079),
new google.maps.LatLng(47.653263, -122.358978),
new google.maps.LatLng(47.601667, -122.327778),
new google.maps.LatLng(47.625398, -122.341009),
new google.maps.LatLng(47.606628, -122.312857),
new google.maps.LatLng(47.611733, -122.341753),
new google.maps.LatLng(47.581946, -122.395805),
new google.maps.LatLng(47.705278, -122.344698),
new google.maps.LatLng(47.622242, -122.332995),
new google.maps.LatLng(47.569117, -122.296982),
new google.maps.LatLng(47.65312, -122.331421),
new google.maps.LatLng(47.610278, -122.339812),
new google.maps.LatLng(47.517426, -122.371398),
new google.maps.LatLng(47.601919, -122.303738),
new google.maps.LatLng(47.718247, -122.355533),
new google.maps.LatLng(47.527817, -122.371248),
new google.maps.LatLng(47.539464, -122.35613),
new google.maps.LatLng(47.708594, -122.323275),
new google.maps.LatLng(47.697867, -122.367016),
new google.maps.LatLng(47.606687, -122.31155),
new google.maps.LatLng(47.600871, -122.326327),
new google.maps.LatLng(47.607807, -122.336016),
new google.maps.LatLng(47.714671, -122.303573)
  ];
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=false&libraries=visualization&callback=initMap">
    </script>