<div class="container container-fluid">

	<h1>Seattle Fire Real-Time 911 Calls</h1>

    <h3>Choose a Graph:</h3>

        <select id="Chart_Type" placeholder="choose">
          <option value="choose">Choose</option>  
          <option value="pie">Pie Chart</option>
          <option value="bar">Bar Chart</option>
          <option value="line">Line Chart</option>
        </select>  


	<div id="chart" style="width:100%; height:400px;">
    
	</div>

</div>