
<script type="text/javascript">
 

</script>



<div class="container text-center">
	<h1>Seattle Crime Stats from 1996-2007</h1>
</div>
<div id="container" class="container" style="width:100%; height:400px;"></div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
